body {
			background-color:#000000;
			background-image:url('/img/background.png');
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			font: bold 18px/25px Arial, sans-serif;
			color:LightGray;
			}
        
button {
        		display: block;
        		position: relative;
        		margin: 10px;
        		padding: 0 10px;
        		text-align: center;
        		text-decoration: none;
        		width: 130px;
        		height: 40px;
        		font: bold 18px/25px Arial, sans-serif;    				
        		color: black;
        				
        	        text-shadow: 1px 1px 1px rgba(255,255,255, .22);
        		-webkit-border-radius: 30px;
   			-moz-border-radius: 30px;
    			border-radius: 30px;
 
    			-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    			-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    			box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    			-webkit-transition: all 0.15s ease;
    			-moz-transition: all 0.15s ease;
    			-o-transition: all 0.15s ease;
    			-ms-transition: all 0.15s ease;
    			transition: all 0.15s ease;
        		}
        		
input[type="range"] {
        		display: block;
        		width: 160px;
        		height: 45px;
        		}
        	
			#allLightsOn{
				width: 130px;
				height: 80px;
				background-color: green;
			}
			#allLightsOff{
				width: 130px;
				height: 80px;
				color: lightgray;
				background-color: black;
			}
			#systemPower{
				width: 130px;
				height: 80px;
				color: black;
				background-color: orange;
			}
			
a.hyperbutton {
        		display: block;
        		position: relative;
        		margin: 10px;
        		padding: 0 10px;
        		text-align: center;
        		text-decoration: none;
        		width: 130px;
        		height: 40px;
        		font: bold 18px/25px Arial, sans-serif;    				
        		color: lightgray;
				background-color: blue;
				text-align: center;
        	        text-shadow: 1px 1px 1px rgba(255,255,255, .22);
        		-webkit-border-radius: 30px;
   			-moz-border-radius: 30px;
    			border-radius: 30px;
 
    			-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    			-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    			box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    			-webkit-transition: all 0.15s ease;
    			-moz-transition: all 0.15s ease;
    			-o-transition: all 0.15s ease;
    			-ms-transition: all 0.15s ease;
    			transition: all 0.15s ease;
        		}
